.parent
{
    display:flex;

justify-content:center;
align-items: center;
height:600px;



} 
.head
{

background-color: rgb(43, 226, 171);
border: 2px solid green;
width:400px;
padding:50px;
}

.container
{
    display:flex;
    justify-content:space-between;
}
.btn
{
    background-color: black;
    color:white;
    border-radius: 10px;
    width:70px;
    margin-left:40px ;
}

#para
{
    font-size:50px;
    text-align: center;
}
.p1
{
    border:1px solid blue;
    width:200px;
    padding:20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:coral;
    background-color: dimgrey;
}
.p2
{
    border:1px solid rgb(255, 0, 98);
    width:200px;
    padding:20px;
    text-align: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:coral;
    background-color: dimgrey;



}

body{


    background-color:darkkhaki;
}