.bg
{
    background-color: black;
    color:white;
}

.box1
{
    display:flex;
    justify-content:right;
}
.btn1
{
    width:150px;
    border-radius: 20px;
    background-color: bisque;
    color: green;
    height:40px;
}


.box2
{
    display:flex;
    justify-content:center;
}
.btn2
{
    width:150px;
    border-radius: 20px;
    background-color: bisque;
    color: green;
    height:40px;
}
